<form name="messageForm" ng-submit="submitMessageForm()">
  <textarea ng-enter="submitMessageForm()" id="message_body" name="message[body]" placeholder ="Type your message" rows="3" ng-model="message.body"></textarea>
  <button type="submit">Send</button>
</form>
